body {
    background-image: url('../images/fundo.png');
    background-repeat: repeat;
    font: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}

#cabecalho {
    background-color: #c5c5b2;
    padding: 25px;
    margin: 0px;
    text-align: center left;
}

a {
    text-decoration: none;
    color: #4b566a;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}

#conteudo {
    background-color: #FCF3C0;
    padding: 10px;
}

#conteudo h1{
    color: #828271;
}

#rodape {
    padding: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bordafoto {
    border: 10px solid #c3c3ae;
}
